<template>
  <video autoplay muted loop id="banner-video">
    <source src="/jp_banner.webm">
  </video>
</template>

<style>
#banner-video {
  position: static;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}
</style>
