<template>
  <v-col cols="12">
    <v-row justify="center">
      <PropertyCard
        v-for="(item, i) in items"
        :key="i"
        :item="item"
      />
    </v-row>
  </v-col>
</template>

<script>
import PropertyCard from '~/components/PropertyCard'

export default {
  components: {
    PropertyCard
  },
  props: [
    "items"
  ],
}
</script>