<template>
<div>
  <v-row justify="center">
    <v-card max-width="1024" class="ma-8" flat>
      <v-card-title class="justify-center">
        Hauserhomes
      </v-card-title>
      <v-card-subtitle class="text-center">
        <i>- Wintersicher -</i>
      </v-card-subtitle>
      <v-card-text>
        <p>
          Wir sind sehr stolz auf unsere Partnerschaft mit 'Hauser-Homes', die uns ermöglicht, mit Ihnen Ihr Wunsch-Mobilhaus nach Ihren Vorstellungen und Bedürfnissen zu erstellen!
        </p>
        <p>
          Durch die einzigartige und revolutionäre Bauweise werden unvergleichbar gute Dämmwerte erzielt, welches mit Leichtigkeit ein ganzjähriges Wohnerlebnis ermöglicht.
        </p>
        <!-- <p class="text-center">
          <small>
            <i>
              Die Preisangaben verstehen sich ab Werk und sind zzgl. Transport und gew&uuml;nschter Zusatzoptionen.
            </i>
          </small>
        </p> -->
      </v-card-text>
    </v-card>
  </v-row>
  <v-row justify="center pb-8">
    <a href="https://hauserhomes.pl/katalogkolbe/" target="_blank">
      <h1>Zum Online Katalog</h1>
    </a>
  </v-row>
</div>
</template>

<script>
import PropertyIndex from '~/components/PropertyIndex'

export default {
  components: {
    PropertyIndex,
  },
  data () {
    return {
      items: this.$store.state.hauser,
    }
  },
}
</script>
