<template>
  <v-row justify="center">
    <v-card max-width="1024" class="ma-8" flat>
      <v-card-title class="justify-center">
        Letniskowo
      </v-card-title>
      <v-card-subtitle class="text-center">
        <i>- Wintersicher -</i>
      </v-card-subtitle>
      <v-card-text>
        <p>
          Wir sind sehr stolz auf unsere Partnerschaft mit 'Letniskowo-Mobilheime', die uns ermöglicht, mit Ihnen Ihr Wunsch-Mobilhaus nach Ihren Vorstellungen und Bedürfnissen zu erstellen!
        </p>
        <p>
          Durch die einzigartige und revolutionäre Bauweise werden unvergleichbar gute Dämmwerte erzielt, welches mit Leichtigkeit ein ganzjähriges Wohnerlebnis ermöglicht.
        </p>
        <p>
          Alle Mobilheime sind wintersicher und Baugenehmigungsf&auml;hig nach <b>GEG</b> <i>(ehem. EnEV)</i>,
          sowie voll-konfigurierbar bis hin zum Schnitt der R&auml;ume.
        </p>
        <p class="text-center">
          <small>
            <i>
              Die Preisangaben verstehen sich ab Werk und sind zzgl. Transport und gew&uuml;nschter Zusatzoptionen.
            </i>
          </small>
        </p>
      </v-card-text>
    </v-card>
    <v-card>
      <PropertyIndex :items="items" />
    </v-card>
  </v-row>
</template>

<script>
import PropertyIndex from '~/components/PropertyIndex'

export default {
  components: {
    PropertyIndex,
  },
  data () {
    return {
      items: this.$store.state.letniskowo,
    }
  },
}
</script>
