<template>
  <v-simple-table dense>
    <template v-slot:default>
      <tbody>
        <tr>
          <th>Basis</th>
          <td class="text-right">
            <small>
              <i>
                ab
              </i>
            </small>
            <strong>
              <MoneyFormat
                :value="basicPrice"
                locale="de"
                currency-code="EUR"
              />
            </strong>
          </td>
        </tr>
        <tr>
          <th>Komfort</th>
          <td class="text-right">
            <small>
              <i>
                ab
              </i>
            </small>
            <strong>
              <MoneyFormat
                :value="comfortPrice"
                locale="de"
                currency-code="EUR"
              />
            </strong>
          </td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>
</template>

<script>
import MoneyFormat from 'vue-money-format'

export default {
  props: [
    'basicPrice',
    'comfortPrice',
  ],
  components: {
    MoneyFormat,
  }
}
</script>

<style>
.money_format {
  display: inline;
  margin-left: 2px;
}
</style>