<template>
  <div>
    <SimplePrice
      v-if="item.price"
      :price="item.price"
    />
    <BasicComfortPrice
      v-else-if="item.priceBasic"
      :basicPrice="item.priceBasic"
      :comfortPrice="item.priceComfort"
    />
    <v-simple-table v-else dense>
      <template v-slot:default>
        <tbody>
          <tr>
            <th>Preis</th>
            <td>Auf Anfrage</td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
  </div>
</template>

<script>
import BasicComfortPrice from './BasicComfortPrice'
import SimplePrice from './SimplePrice'

export default {
  props: [
    'item',
  ],
  components: {
    BasicComfortPrice,
    SimplePrice,
  },
}
</script>