<template>
  <v-simple-table dense>
    <template v-slot:default>
      <tbody>
        <tr v-if="price">
          <th>Preis</th>
          <td class="text-right">
            <MoneyFormat
              :value="price"
              locale="de"
              currency-code="EUR"
              class="highlight"
            />
          </td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>
</template>

<script>
import MoneyFormat from 'vue-money-format'

export default {
  props: [
    'price',
  ],
  components: {
    MoneyFormat,
  },
}
</script>
