<template>
  <v-carousel
    hide-delimiter-background
    hide-delimiters
    :show-arrows="false"
    cycle
  >
    <v-carousel-item
      v-for="(item,i) in items"
      :key="i"
      :src="item.src"
    >
    </v-carousel-item>
  </v-carousel>
</template>

<script>
  export default {
    data () {
      return {
        items: [
          {
            src: '/images/forest.jpg',
          },
          {
            src: '/images/kitchen.jpe',
          },
          {
            src: '/images/bad.webp',
          },
        ],
      }
    },
  }
</script>