<template>
  <v-card>
    <v-footer padless>
      <v-card flat dark tile width="100%" class="black lighten-1 text-center">
        <v-card-text>
          <v-btn
            href="https://www.facebook.com/Mobilien-Kolbe-657840131329484/"
            icon
            target="_blank"
          >
            <v-icon large class="white--text">mdi-facebook</v-icon>
          </v-btn>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-text>
          <v-icon large class="px-2">mdi-map-marker</v-icon>
          <a href="tel:+4915252953000">
            <v-icon large class="px-2">mdi-phone</v-icon>
          </a>
          <a href="mailto:info@mobilheim-kolbe.de?subject=Kontaktanfrage">
            <v-icon large class="px-2">mdi-email</v-icon>
          </a>
          <div class="my-4"></div>
          <p>
            <strong>
              MOBILHEIM KOLBE GmbH<br>
            </strong>
            Berliner Str. 19<br>
            16727 Velten<br>
            Telefon: <a href="tel:+4915252953000">0152 5295 3000</a><br>
            E-Mail: <a href="mailto:info@mobilheim-kolbe.de?subject=Kontaktanfrage">info@mobilheim-kolbe.de</a>
          </p>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-text>
          <small>
            <i>
              Bild- und Videomaterial sind urheberrechtlich gesch&uuml;tztes Eigentum von letniskowo.pl
            </i>
          </small>
        </v-card-text>
      </v-card>
    </v-footer>
  </v-card>
</template>

<style scoped>
a {
  text-decoration: initial !important;
  color: lightgray !important;
}
</style>