<template>
  <v-app dark>
    <v-navigation-drawer
      v-model="drawer"
      disable-resize-watcher
      bottom
      app
    >
      <v-list>
        <div
          v-for="(item, i) in items"
          :key="i"
        >
          <v-list-group
            v-if="item.subs"
            :prepend-icon="item.icon"
            justify="center"
            no-action
          >
            <template v-slot:activator>
              <v-list-item-title v-text="item.title" />
            </template>
            <v-list-item
              v-for="(sub, j) in item.subs"
              :key="j"
              :to="sub.to"
              router
              exact
            >
              <v-list-item-content>
                <v-list-item-title v-text="sub.title" />
                <small v-if="sub.size">{{ sub.size }} m² <i>({{ sub.dims }})</i></small>
              </v-list-item-content>
            </v-list-item>
          </v-list-group>
          <v-list-item
            v-else
            :to="item.to"
            router
            exact
          >
            <v-list-item-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title v-text="item.title" />
            </v-list-item-content>
          </v-list-item>
        </div>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      color="white"
      collapse-on-scroll
      fixed
      app
      min-width="160px"
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <nuxt-link to="/">
      <v-img
        src="/images/logo/Kolbe-LOGO-08.png"
        max-width="96px"
      />
      </nuxt-link>
      &nbsp;
      &nbsp;
      <v-toolbar-title class="d-none d-sm-flex" v-text="title" />
      <v-spacer></v-spacer>
      <v-btn
        href="tel://+4915252953000"
        color="grey darken-2"
        icon
      >
        <v-icon>mdi-phone</v-icon>
      </v-btn>
      <v-btn
        href="mailto:info@mobilheim-kolbe.de?subject=Kontaktaufnahme"
        color="grey darken-2"
        icon
      >
        <v-icon>mdi-email</v-icon>
      </v-btn>
      <v-btn
        href="https://www.facebook.com/Mobilien-Kolbe-657840131329484/"
        target="_blank"
        color="grey darken-2"
        icon
      >
        <v-icon>mdi-facebook</v-icon>
      </v-btn>
    </v-app-bar>
      <div style="width: 100%; padding-top: 56px; margin-bottom: -64px">
        <Banner />
      </div>
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>

    <Footer />
  </v-app>
</template>

<script>
// import Carousel from '~/components/Carousel'
import Banner from '~/components/Banner'
import Footer from '~/components/Footer'

export default {
  components: {
    Banner,
    // Carousel,
    Footer,
  },
  data () {
    return {
      drawer: false,
      items: this.$store.state.nav.items,
      title: 'Mobilheim-Kolbe'
    }
  }
}
</script>
