<template>
  <v-row>
    <v-col cols="12">
      <v-card flat>
        <v-card-title>
          Mobilien-Kolbe Datenschutzerkl&auml;rung
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <h2>Einf&uuml;hrung</h2>
          <p>
            In diesen Datenschutzbestimmungen stellen wir von Mobilheim Kolbe GmbH unsere Vorgehensweise bezüglich der von Benutzern erfassten Daten, die auf unsere Webseite unter https://www.mobilien-kolbe.de/ zugreifen oder uns auf andere Weise personenbezogene Daten bereitstellen, dar.
          </p>
          <p>
            Zuständige Behörde im Sinne der Datenschutz-Grundverordnung (DSGVO): Amtsgericht Oranienburg.
          </p>
          <h2>Benutzerrechte</h2>
          <p>
            Sie haben folgende Rechte:
          </p>
          <ol>
            <li>
              Eine Bestätigung, ob und inwieweit Ihre personenbezogenen Daten verwendet und verarbeitet werden, sowie den Zugriff auf die über Sie gespeicherten personenbezogenen Daten und zusätzliche Informationen anfordern
            </li>
            <li>
              Eine Kopie der personenbezogenen Daten, die Sie uns freiwillig bereitgestellt haben, in einem strukturierten, gängigen und maschinenlesbaren Format anfordern
            </li>
            <li>
              Eine Berichtigung der personenbezogenen Daten, die wir von Ihnen gespeichert haben, anfordern
            </li>
            <li>
              Das Löschen Ihrer personenbezogenen Daten beantragen 
            </li>
            <li>
              Der Verarbeitung Ihrer personenbezogenen Daten durch uns widersprechen 
            </li>
            <li>
              Die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten durch uns beantragen
            </li>
            <li>
              Eine Beschwerde bei einer Aufsichtsbehörde einreichen
            </li>
          </ol>
          <br>
          <p>
            Beachten Sie jedoch, dass diese Rechte nicht uneingeschränkt gelten, sondern unseren eigenen rechtmäßigen Interessen sowie behördlichen Vorschriften unterliegen.
          </p>
          <p>
            Wenn Sie eines der hier aufgeführten Rechte in Anspruch nehmen möchten oder weitere Informationen wünschen, wenden Sie sich an unseren Datenschutzbeauftragten unter:
          </p>
          <p class="pre">
            Michael J. Kolbe<br>
            Berliner Str. 19<br>
            16727 Velten<br>
            Telefon: 015252953000<br>
            E-Mail: info@mobilien-kolbe.de<br>
          </p>
          <h2>Speicherung</h2>
          <p>
            Wir speichern Ihre personenbezogenen Daten so lange, wie es für die Bereitstellung unserer Services, die Einhaltung rechtlicher Verpflichtungen sowie die Beilegung von Streitigkeiten und die Durchsetzung unserer Richtlinien erforderlich ist. Die Aufbewahrungsfristen richten sich nach der Art der erfassten Daten und dem Zweck, für den diese Daten erfasst wurden, wobei sowohl die fallspezifischen Gegebenheiten als auch die Notwendigkeit berücksichtigt werden, veraltete, nicht genutzte Informationen baldmöglichst zu löschen. Datensätze mit personenbezogenen Daten von Kunden, Dokumente über die Kontoeinrichtung, Mitteilungen und andere Daten speichern wir gemäß geltender Gesetze und Vorschriften.
          </p>
          <p>
            Wir können jederzeit und in unserem alleinigen Ermessen unvollständige oder unrichtige Daten korrigieren, vervollständigen oder entfernen.
          </p>
          <h2>Grundlage für die Datenerfassung</h2>
          <p>
            Die Verarbeitung Ihrer personenbezogenen Daten ist erforderlich, um unseren vertraglichen Verpflichtungen Ihnen gegenüber nachzukommen und damit wir Ihnen unsere Services bereitstellen, unser legitimes Interesse schützen sowie rechtlichen und finanziellen Regulierungsverpflichtungen, denen wir unterworfen sind, nachkommen können.
          </p>
          <p>
            Durch die Nutzung dieser Webseite stimmen Sie der Erfassung, Speicherung, Verwendung, Offenlegung und sonstigen Nutzung Ihrer personenbezogenen Daten wie in diesen Datenschutzbestimmungen beschrieben zu.
          </p>
          <p>
            Bitte lesen Sie sich die Datenschutzbestimmungen sorgfältig durch, bevor Sie Entscheidungen treffen.
          </p>
          <h2>Welche Daten werden erfasst?</h2>
          <p>
            Wir erfassen zwei Arten von Daten und Informationen von Benutzern.
          </p>
          <p>
            Zur ersten Kategorie gehören nicht identifizierende und nicht identifizierbare Benutzerdaten, die durch die Nutzung der Webseite bereitgestellt oder erfasst werden. Wir kennen die Identität des Benutzers nicht, von dem nicht personenbezogene Daten erfasst wurden. Zu den nicht personenbezogenen Daten, die erfasst werden können, gehören aggregierte Nutzungsdaten und technische Daten, die von Ihrem Gerät übermittelt werden, einschließlich bestimmter Informationen bezüglich Software und Hardware (z. B. auf dem Gerät verwendeter Browser und verwendetes Betriebssystem, Spracheinstellung, Zugriffszeit usw.). Anhand dieser Daten verbessern wir die Funktionalität unserer Webseite. Wir können auch Daten über Ihre Aktivität auf der Webseite erfassen (z. B. aufgerufene Seiten, Surfverhalten, Klicks, Aktionen usw.).
          </p>
          <p>
            Zur zweiten Kategorie gehören personenbezogene Daten , also Daten, die eine Einzelperson identifizieren oder durch angemessene Maßnahmen identifizieren können. Zu solchen Daten gehören:
          </p>
          <ul>
            <li>
              Gerätedaten: Wir erfassen personenbezogene Daten von Ihrem Gerät. Solche Daten umfassen Geolocation-Daten, IP-Adresse, eindeutige Kennungen (z. B. MAC-Adresse und UUID) sowie andere Daten, die sich aus Ihrer Aktivität auf der Webseite ergeben.
            </li>
            <li>
              Registrierungsdaten: Wenn Sie sich auf unserer Webseite registrieren, werden Sie um die Angabe bestimmter Informationen gebeten, z. B.: Vor- und Nachname, E-Mail-Adresse oder Anschrift bzw. andere Information.
            </li>
          </ul>
          <br>
          <h2>Wie erhalten wir Daten über Sie?</h2>
          <p>
            Wir beziehen Ihre personenbezogenen Daten aus verschiedenen Quellen:
          </p>
          <ul>
            <li>
              Sie stellen uns solche Daten freiwillig bereit, zum Beispiel bei der Registrierung auf unserer Webseite.
            </li>
            <li>
              Wir erhalten solche Daten, wenn Sie unsere Webseite nutzen oder in Verbindung mit einem unserer Services darauf zugreifen.
            </li>
            <li>
              Wir erhalten solche Daten von anderen Anbietern, Services und aus öffentlichen Registern (zum Beispiel von Datentraffic-Analyseanbietern).
            </li>
          </ul>
          <br>
          <h2>Wie werden die Daten genutzt? An wen werden die Daten weitergegeben?</h2>
          <p>
            Wir geben Benutzerdaten nicht an Dritte weiter, außer wie in diesen Datenschutzbestimmungen beschrieben.
          </p>
          <p>
            Wir verwenden Daten für folgende Zwecke:
          </p>
          <ul>
            <li>
              Zur Kommunikation mit Ihnen (Senden von Hinweisen bezüglich unserer Services, Bereitstellen von technischen Informationen und ggf. Bearbeiten von Kundendienstanfragen)
            </li>
            <li>
              Zur Information über neue Updates und Services
            </li>
            <li>
              Zur Anzeigenschaltung im Rahmen der Nutzung unserer Webseite 
            </li>
          </ul>
          <br>
          <p>
            Neben den verschiedenen, oben aufgeführten Verwendungszwecken können wir personenbezogene Daten auch an unsere Tochtergesellschaften, verbundenen Unternehmen und Subunternehmer weitergeben.
          </p>
          <p>
            Zusätzlich zu den in diesen Datenschutzbestimmungen aufgeführten Zwecken können wir personenbezogene Daten aus folgenden Gründen an unsere vertrauenswürdigen externen Anbieter weiterleiten, die ihren Sitz in unterschiedlichen Rechtsprechungen auf der ganzen Welt haben:
          </p>
          <ul>
            <li>
              Hosten und Betreiben unserer Webseite
            </li>
            <li>
              Bereitstellen unserer Services, einschließlich der personalisierten Anzeige unserer Webseite
            </li>
            <li>
              Speichern und Verarbeiten solcher Daten in unserem Namen 
            </li>
            <li>
              Schalten von Anzeigen sowie die Möglichkeit, den Erfolg unserer Werbekampagnen zu beurteilen, Retargeting von Benutzern
            </li>
            <li>
              Bereitstellen von Marketingangeboten und Werbematerialien in Zusammenhang mit unserer Webseite und unseren Services 
            </li>
            <li>
              Durchführen von Studien, technischen Diagnosen oder Analysen
            </li>
          </ul>
          <br>
          <p>
            Wir können Daten auch offenlegen, wenn wir im guten Glauben sind, dies ist hilfreich oder angemessen, um: (i) geltenden Gesetzen, Vorschriften, Gerichtsverfahren oder behördlichen Anfragen zu entsprechen; (ii) unsere Richtlinien (einschließlich unserer Vereinbarung) durchzusetzen und ggf. diesbezügliche mögliche Verletzungen zu untersuchen; (iii) illegale Aktivitäten oder anderes Fehlverhalten, Betrugsverdacht oder Sicherheitsprobleme zu untersuchen, zu erkennen, zu verhindern oder Maßnahmen dagegen zu ergreifen; (iv) eigene Rechtsansprüche geltend zu machen oder durchzusetzen bzw. uns gegen die Ansprüche anderer zu verteidigen; (v) die Rechte, das Eigentum oder unsere Sicherheit, die Sicherheit unserer Benutzer, Ihre Sicherheit oder die Sicherheit von Dritten zu schützen; oder um (vi) mit Strafverfolgungsbehörden zusammenzuarbeiten und/oder geistiges Eigentum oder andere Rechtsansprüche zu schützen.
          </p>
          <h2>Cookies</h2>
          <p>
            Für die Bereitstellung entsprechender Services verwenden wir und unsere Partner Cookies. Dies gilt auch, wenn Sie unsere Webseite besuchen oder auf unsere Services zugreifen. 
          </p>
          <p>
            Bei einem „Cookie“ handelt es sich um ein kleines Datenpaket, das Ihrem Gerät beim Besuch einer Webseite von dieser Webseite zugeordnet wird. Cookies sind nützlich und können für unterschiedliche Zwecke eingesetzt werden. Dazu gehören z. B. die erleichterte Navigation zwischen verschiedenen Seiten, die automatische Aktivierung bestimmter Funktionen, das Speichern Ihrer Einstellungen sowie ein optimierter Zugriff auf unsere Services. Die Verwendung von Cookies ermöglicht uns außerdem, Ihnen relevante, auf Ihre Interessen abgestimmte Werbung einzublenden und statistische Informationen zu Ihrer Nutzung unserer Services zu sammeln.
          </p>
          <p>
            Diese Webseite verwendet folgende Arten von Cookies:
          </p>
          <ol>
            <li>
              <strong>Sitzungscookies</strong>,
              die für eine normale Systemnutzung sorgen. Sitzungscookies werden nur für begrenzte Zeit während einer Sitzung gespeichert und von Ihrem Gerät gelöscht, sobald Sie Ihren Browser schließen.
            </li>
            <li>
              <strong>Permanente Cookies</strong>,
              die nur von der Webseite gelesen und beim Schließen des Browserfensters nicht gelöscht, sondern für eine bestimmte Dauer auf Ihrem Computer gespeichert werden. Diese Art von Cookie ermöglicht uns, Sie bei Ihrem nächsten Besuch zu identifizieren und beispielsweise Ihre Einstellungen zu speichern.
            </li>
            <li>
              <strong>Drittanbieter-Cookies</strong>,
              die von anderen Online-Diensten gesetzt werden, die mit eigenen Inhalten auf der von Ihnen besuchten Seite vertreten sind. Dies können z. B. externe Web-Analytics-Unternehmen sein, die den Zugriff auf unsere Webseite erfassen und analysieren.
            </li>
          </ol>
          <br>
          <p>
            Cookies enthalten keine personenbezogenen Daten, die Sie identifizieren, doch die von uns gespeicherten personenbezogenen Daten werden möglicherweise von uns mit den in den Cookies enthaltenen Daten verknüpft. Sie können Cookies über die Geräteeinstellungen Ihres Gerät entfernen. Folgen Sie dabei den entsprechenden Anweisungen. Beachten Sie, dass die Deaktivierung von Cookies zur Einschränkung bestimmter Funktionen bei der Nutzung unserer Webseite führen kann.
          </p>
          <p>
            Das von uns verwendete Tool basiert auf der Technologie von <a href="https://snowplowanalytics.com/" target="_blank">Snowplow Analytics</a>. Zu den von uns erfassten Daten zur Nutzung unserer Webseite gehören beispielsweise, wie häufig Benutzer die Webseite besuchen oder welche Bereiche aufgerufen werden. Das von uns verwendete Tool erfasst keine personenbezogenen Daten und wird von unserem Webhosting-Anbieter und Service-Provider ausschließlich zur Verbesserung des eigenen Angebots verwendet.
          </p>
          <h2>Verwendung von Skriptbibliotheken (Google Web Fonts)</h2>
          <p>
            Damit unsere Inhalte in jedem Browser korrekt und grafisch ansprechend dargestellt werden, verwenden wir für diese Webseite Skript- und Schriftbibliotheken wie Google Web Fonts (<a href="https://www.google.com/webfonts" target="_blank">https://www.google.com/webfonts</a>). Google Web Fonts werden in den Cache Ihres Browsers übertragen, sodass sie nur einmal geladen werden müssen. Wenn Ihr Browser Google Web Fonts nicht unterstützt oder den Zugriff verweigert, werden die Inhalte in einer Standardschriftart dargestellt.
          </p>
          <ul>
            <li>
              Beim Aufrufen von Skript- oder Schriftbibliotheken wir automatisch eine Verbindung zum Betreiber der Bibliothek hergestellt. Es besteht hierbei theoretisch die Möglichkeit für diesen Betreiber, Daten zu erfassen. Derzeit ist nicht bekannt, ob und zu welchem Zweck die Betreiber der entsprechenden Bibliotheken tatsächlich Daten erfassen.
            </li>
            <li>
              Hier finden Sie die Datenschutzbestimmungen des Betreibers der Google-Bibliothek: <a href="https://www.google.com/policies/privacy" target="_blank">https://www.google.com/policies/privacy</a>.
            </li>
          </ul>
          <h2>Erfassung von Daten durch Dritte</h2>
          <p>
            In dieser Richtlinie werden nur die Nutzung und Offenlegung von Daten, die wir von Ihnen erfassen, behandelt. Wenn Sie Daten auf anderen Webseiten veröffentlichen oder Dritten im Internet offenlegen, gelten möglicherweise andere Bestimmungen. Lesen Sie sich daher die allgemeinen Geschäftsbedingungen und Datenschutzbestimmungen immer sorgfältig durch, wenn Sie Daten offenlegen.
          </p>
          <p>
            Diese Datenschutzbestimmungen beziehen sich nicht auf Geschäftspraktiken von Unternehmen, die sich nicht in unserem Besitz befinden bzw. nicht unter unserer Kontrolle stehen, oder auf andere Personen als unsere Angestellten und Mitarbeiter, einschließlich Dritter, denen wir diese Daten wie in diesen Datenschutzbestimmungen beschrieben offenlegen.
          </p>
          <h2>Wie schützen wir Ihre Daten?</h2>
          <p>
            Wir setzen die Sicherheitsmaßnahmen auf der Webseite mit großer Sorgfalt um und schützen Ihre Daten. Wir verwenden in der Branche übliche Verfahren und Richtlinien, um den Schutz der erfassten und gespeicherten Daten sicherzustellen, und verhindern die unbefugte Verwendung solcher Daten. Wir verlangen außerdem von Dritten, dass sie sich gemäß diesen Datenschutzbestimmungen an ähnliche Sicherheitsanforderungen halten. Obwohl wir angemessene Schritte für den Schutz von Daten unternehmen, können wir nicht verantwortlich gemacht werden für Handlungen von jenen, die sich unbefugten Zugang zu unserer Webseite verschafft haben oder diese missbräuchlich verwenden, und wir geben keine ausdrückliche noch stillschweigende Gewähr, dass wir einen solchen Zugriff verhindern können.
          </p>
          <h2>Übermittlung von Daten außerhalb des Europäischen Wirtschaftsraums</h2>
          <p>
            Beachten Sie, dass einige Empfänger ihren Sitz möglicherweise nicht im Europäischen Wirtschaftsraum haben. Ist dies der Fall, werden wir Ihre Daten nur in von der Europäischen Kommission genehmigte Länder mit angemessenem Datenschutzniveau übermitteln oder durch eine rechtliche Vereinbarung ein angemessenes Datenschutzniveau sicherstellen.
          </p>
          <h2>Werbung</h2>
          <p>
            Wenn Sie auf unsere Webseite zugreifen, schalten wir möglicherweise Anzeigen mithilfe von Anzeigentechnologie externer Anbieter. Diese Technologie verwendet für die Anzeigenschaltung Ihre Nutzungsdaten der Services (z. B. durch die Platzierung von Drittanbieter-Cookies in Ihrem Webbrowser).
          </p>
          <p>
            Sie können sich von zahlreichen Anzeigennetzwerken Dritter abmelden, auch von Netzwerken, die von Mitgliedern der Network Advertising Initiative („NAI“) und der Digital Advertising Alliance („DAA“) betrieben werden. Informationen über die Vorgehensweise von NAI- und DAA-Mitgliedern, über Ihre Optionen, die Sie bezüglich der Verwendung solcher Daten von diesen Unternehmen haben, und darüber, wie Sie sich aus Anzeigennetzwerken Dritter, die von NAI- und DAA-Mitgliedern betrieben werden, abmelden können, finden Sie auf der jeweiligen Webseite: http://optout.networkadvertising.org/#!/ und http://optout.aboutads.info/#!/.
          </p>
          <h2>Marketing</h2>
          <p>
            Wir können Ihre personenbezogenen Daten wie Ihren Namen, Ihre E-Mail-Adresse, Ihre Telefonnummer usw. selbst verwenden oder an einen externen Untervertragsnehmer weiterleiten, um Ihnen Werbematerialien bezüglich unserer Services bereitzustellen, die Sie möglicherweise interessieren.
          </p>
          <p>
            Wir respektieren Ihr Recht auf Privatsphäre. Daher erhalten Sie in diesen Marketingmaterialien stets die Möglichkeit, sich von weiteren Zusendungen abzumelden. Wenn Sie sich abmelden, wird Ihre E-Mail-Adresse oder Telefonnummer aus unseren Marketing-Verteilerlisten entfernt.
          </p>
          <p>
            Beachten Sie, dass wir Ihnen auch nach einer Abmeldung vom Erhalt unserer Marketing-E-Mails weiterhin E-Mails mit wichtigen Informationen senden, die keine Abmeldeoption enthalten. Dazu gehören Wartungsmeldungen oder administrative Benachrichtigungen.
          </p>
          <h2>Unternehmenstransaktion</h2>
          <p>
            Wir können Daten im Fall einer Unternehmenstransaktion (z. B. beim Verkauf wesentlicher Unternehmensteile, bei einer Fusion, einer Konsolidierung oder einem Anlagenverkauf) weitergeben. Falls ein oben genannter Fall eintritt, übernimmt der Erwerber oder das entsprechende Unternehmen die in dieser Datenschutzerklärung dargelegten Rechte und Pflichten.
          </p>
          <h2>Minderjährige</h2>
          <p>
            Der Schutz der Daten von Kindern ist insbesondere im Online-Bereich sehr wichtig. Die Webseite ist nicht für Kinder konzipiert und richtet sich nicht an diese. Die Nutzung unserer Services durch Minderjährige ist nur mit der vorherigen Einwilligung oder Autorisierung von einem Elternteil oder Erziehungsberechtigten zulässig. Wir erfassen personenbezogene Daten von Minderjährigen nicht wissentlich. Wenn ein Elternteil oder Erziehungsberechtigter Kenntnis davon erlangt, dass sein oder ihr Kind uns personenbezogene Daten ohne deren Einwilligung bereitgestellt hat, kann er/sie sich unter info@mobilien-kolbe.de an uns wenden.
          </p>
          <h2>Aktualisierungen oder Änderungen dieser Datenschutzbestimmungen</h2>
          <p>
            Wir behalten uns das Recht vor, diese Datenschutzbestimmungen von Zeit zu Zeit zu ändern oder zu prüfen. Sie finden das Datum der aktuellen Version unter „Zuletzt geändert am“. Ihre fortgesetzte Nutzung der Plattform nach der Bekanntmachung solcher Änderungen auf unserer Webseite stellt Ihre Zustimmung zu solchen Änderungen an den Datenschutzbestimmungen dar und gilt als Ihr Einverständnis der Bindung an die geänderten Bestimmungen.
          </p>
          <h2>So erreichen Sie uns</h2>
          <p>
            Wenden Sie sich bei allgemeinen Fragen zur Webseite, zu den von uns über Sie erfassten Daten oder der Verwendung dieser Daten unter info@mobilien-kolbe.de an uns.
          </p>
          <p>
            Gesetzliche Anbieterkennung:
          </p>
          <p class="pre">
            Mobilheim Kolbe GmbH<br>
            Berliner Str. 19<br>
            16727 Velten<br>
            Telefon: 015252953000<br>
            E-Mail: info@mobilien-kolbe.de<br>
            <br>
            USt-ID-Nr: DE 287427791<br>
            Gewerbeerlaubnis nach § 34c GewO<br>
            Handelsregistereintrag Amtsgericht Neuruppin unter: HRB 12724 NP<br>
            <br>
            Alternative Streitbeilegung:<br>
            Die Europäische Kommission stellt eine Plattform für die außergerichtliche Online-Streitbeilegung (OS-Plattform) bereit, aufrufbar unter https://ec.europa.eu/odr.<br>
          </p>
          <p>
            Zuletzt geändert am 09.04.2019
          </p>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<style>
.v-card__title {
  word-break: normal;
}
.pre {
  font-family: monospace;
}
</style>