<template>
  <v-card class="justify-center">
    <v-card-title class="justify-center">
      Gebrauchte Mobilheime
    </v-card-title>
    <v-card-subtitle class="text-center">
      <i>- Wintertauglich -</i>
    </v-card-subtitle>
    <PropertyIndex :items="items" />
  </v-card>
</template>

<script>
import PropertyIndex from '~/components/PropertyIndex'

export default {
  components: {
    PropertyIndex,
  },
  data () {
    return {
      items: this.$store.state.angebote
    }
  }
}
</script>