<template>
  <v-container fluid>
    <div class="pt-8" />
    <hr>
    <v-row
      justify="center"
      align="center"
      class="my-8"
    >
      <v-col cols=12 class="text-center">
        <h2>Zu unseren Angeboten</h2>
      </v-col>
      <v-col
        cols="12"
        md="4"
        align="center"
      >
        <v-btn
          x-large
          color="primary"
          to="/mobilheime/hauser"
        >
          Hauserhomes
        </v-btn>
      </v-col>
      <v-col
        cols="12"
        md="4"
        align="center"
      >
        <v-btn
          x-large
          color="primary"
          to="/mobilheime/letniskowo"
        >
          Letniskowo
        </v-btn>
      </v-col>
      <v-col
        cols="12"
        md="4"
        align="center"
      >
        <v-btn
          x-large
          color="primary"
          to="/gebraucht"
        >
          Gebrauchte Mobilheime
        </v-btn>
      </v-col>
    </v-row>
    <hr>
    <div class="pt-8" />
    <InfoBox />
  </v-container>
</template>

<script>
import InfoBox from '~/components/InfoBox'
import PropertyIndex from '~/components/PropertyIndex'

export default {
  components: {
    InfoBox,
    PropertyIndex,
  },
  data () {
    return {
      panel: 1,
      angebote: this.$store.state.angebote,
      letniskowo: this.$store.state.letniskowo,
    }
  }
}
</script>