<template>
  <v-row class="my-2">
    <v-col cols="12">
      <v-card width="100%">
        <v-card-title class="justify-center">
          Kontakt
        </v-card-title>
        <v-card-subtitle class="text-center">
          Sie erreichen uns jederzeit, rund um die Uhr.
        </v-card-subtitle>
        <br>
        <v-row justify="center" class="text-center">
          <v-col cols="4" class="text-right">
            <v-icon x-large>mdi-phone</v-icon>
          </v-col>
          <v-col cols="8" class="text-left">
            <h3><a href="tel:+4915252953000">0152 / 5295 3000</a></h3>
          </v-col>
        </v-row>
        <v-row justify="center" class="text-center">
          <v-col cols="4" class="text-right">
            <v-icon x-large>mdi-email</v-icon>
          </v-col>
          <v-col cols="8" class="text-left">
            <h3><a href="mailto:info@mobilheim-kolbe.de?subject=Kontaktanfrage">info@mobilheim-kolbe.de</a></h3>
          </v-col>
        </v-row>
        <v-row justify="center" class="text-center">
          <v-col cols="4" class="text-right">
            <v-icon x-large>mdi-map-marker</v-icon>
          </v-col>
          <v-col cols="8">
            <p class="text-left">
              <strong>MOBILHEIM KOLBE GmbH</strong><br>
              Berliner Str. 19<br>
              16727 Velten<br>
            </p>
          </v-col>
        </v-row>
      </v-card>
    </v-col>
  </v-row>
</template>

<style>
a {
  text-decoration: initial;
  color: black !important;
}
a:hover {
  color: darkblue !important;
}
</style>