<template>
  <v-col cols="12" sm="6" md="4" lg="3">
    <v-hover v-slot="{ hover }">
      <v-card
        :elevation="hover ? 12 : 2"
        :href="item.href ? item.href : ''"
        target="_blank"
      >
        <v-card-title class="red--text tex--darken-1 mobilehome-title">
          {{ item.title }}
        </v-card-title>
        <v-card-subtitle>
          {{ item.dimensions }}
        </v-card-subtitle>
        <v-simple-table dense>
          <template v-slot:default>
            <tbody>
              <tr>
                <th>Wohnfl&auml;che</th>
                <th class="red--text text--darken-1 text-right highlight">{{ item.groundArea }} m²</th>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
        <v-img
          :src="item.imageSrc"
          max-height="320"
          contain
          class="my-4"
        />
        <Specs :item="item" />
        <v-divider></v-divider>
        <!-- PriceTable :item="item" / -->
        <v-divider />
      </v-card>
    </v-hover>
  </v-col>
</template>

<script>
import PriceTable from './PriceTable'
import Specs from './specs'

export default {
  components: {
    PriceTable,
    Specs,
},
  props: [
    'item',
  ],
  data () {
    return {
      reveal: false,
    }
  },
}
</script>

<style>
.mobilehome-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  word-break: normal;
}

.highlight {
  font-size: 16px !important;
  font-style: italic;
  font-weight: bold;
}
</style>