<template>
  <div>
    <v-simple-table
      v-if="item.specs"
      dense
    >
      <template v-slot:default>
        <tbody>
          <tr
            v-for="(spec, ki) in Object.keys(item.specs)"
            :key="ki"
          >
            <th>{{ spec }}</th>
            <td class="text-right">{{ item.specs[spec] }}</td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
    <v-divider v-if="item.extras"></v-divider>
    <v-simple-table
      v-if="item.extras"
      dense
    >
      <template v-slot:default>
        <tbody>
          <tr
            v-for="(extra, ei) in item.extras"
            :key="ei"
          >
            <th>Au&szlig;erdem</th>
            <td class="text-right">{{ extra }}</td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
  </div>
</template>

<script>
export default {
  props: [
    'item',
  ]
}
</script>