<template>
  <v-container class="fill-height" fluid>
    <v-row
      v-for="(item, i) in items"
      :key="i"
      :dir="i % 2 === 0 ? 'ltr' : 'rtl'"
      justify="center"
      align="center"
    >
      <v-col
        cols="12"
        md="6"
      >
        <v-img :src="item.image" class="mx-auto" width="75%" />
      </v-col>
      <v-col
        cols="12"
        md="6"
        align="start"
        justify="center"
      >
      <h3 align="center" class="my-4">{{ item.title }}</h3>
      <p
        v-for="(p, j) in item.text"
        :key="j"
        class="px-4 text-body-2 text-lg-body-1"
        dir="ltr"
      >
        {{ p }}
      </p>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      tab: 0,
      items: [
        {
          title: 'Mobilheime',
          image: '/images/infobox/row.jpg',
          text: [
            'Wir sind IHR Partner rund um Mobilheime und mobile energiesparende Ganzjahreshäuser in Berlin-Brandenburg.',
            'Bei uns finden Sie NEUE und GEBRAUCHTE Mobilheime. Gebrauchte Mobilheime werden nach unseren hohen Qualitätsstandards ausgewählt, sodass es für jeden unserer Kunden ein passendes Angebot gibt. Unsere neuen Mobilheime bieten wir Ihnen abgestimmt auf Ihre persönlichen Wünsche an.',
            'Auch Mobilheime aus Naturbaustoffen finden Sie in unserer Angebotspalette.'
          ]
        },
        {
          title: 'Transport',
          image: '/images/infobox/transport.jpg',
          text: [
            'Um den Transport kümmern WIR uns für Sie!',
            'Je nach Größe des Mobilheims, Entfernung und Anbindung kümmern wir uns um die Formalitäten und geben Ihnen einen passenden Kostenvoranschlag.',
            'Bei einigen Mobilheim-Angeboten ist der Preis für den Transport sogar mit inbegriffen (jeweils gekennzeichnet mit Lieferpreis)!'
          ]
        },
        {
          title: 'Wintertauglich',
          image: '/images/infobox/energie.jpg',
          text: [
            'Wir legen besonderen Wert auf die Wintertauglichkeit unserer Mobilheime.',
            'Die neuen Mobilheime aus unserem Angebot erfüllen sehr hohe Dämmwerte.',
            'Unsere ausgewählten gebrauchten Mobilheime sind durch ihre Doppelverglasung und Zentralheizung durchaus ganzjährig nutzbar.',
          ]
        },
        {
          title: 'Reservierung',
          image: '/images/infobox/reserviert.jpe',
          text: [
            'Wir bieten Ihnen eine Reservierung an, wenn Sie sich für ein Mobilheim näher interessieren, jedoch noch Finanzierungs- oder Genehmigungsumstände klären müssen.',
            'Für eine Reservierungsgebühr von 500€ ist das Mobilheim jeweils einen Monat für Sie reserviert und wird für diesen Zeitraum aus unserem Angebot genommen.',
            'Bei Kauf innerhalb von 3 Monaten werden die Kosten zu 100% mit dem Kaufpreis verrechnet, auch falls Sie sich doch für ein anderes Mobilheim aus unserem Sortiment entscheiden.',
          ]
        },
        {
          title: 'Baugenehmigung',
          image:'/images/infobox/baugenehmigung.jpg',
          text: [
            'Zum Thema Baugenehmigung gibt es für jedes Bundesland unterschiedliche Richtlinien.',
            'In vielen Fällen ist möglicherweise nur eine Aufstellgenehmigung erforderlich.',
            'Sehr gern stehen wir Ihnen mit unseren Erfahrungen beratend zur Seite.',
          ]
        },
      ],
    }
  }
}
</script>